.container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.container p {
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 20px;
    line-height: 125%;
    text-align: center;
    gap: 8px;
    color: var(--secondary-income);
}